*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App{
	display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  min-height: 100vh;
  min-width: 100vw;
  background: #c5e1a5;
}